<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"]</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/sidebars.css" asp-append-version="true" />

</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="container-fluid">
        <a class="navbar-brand" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Trang quản trị</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav nav-pills flex-column mb-auto d-lg-none">
            <li class="nav-item">
              <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="nav-link link-dark"
                aria-current="page">
                Dashboard
              </a>
            </li>
            <span class="border-bottom"></span>
            <li>
              <a asp-area="Admin" asp-controller="VehicleModel" asp-action="Index" class="nav-link link-dark">
                Mẫu xe
              </a>
            </li>
            <span class="border-bottom"></span>
            <li>
              <a asp-area="Admin" asp-controller="VehicleLine" asp-action="Index" class="nav-link link-dark">
                Dòng xe
              </a>
            </li>
            <span class="border-bottom"></span>
            <li>
              <a asp-area="Admin" asp-controller="Manufacturer" asp-action="Index" class="nav-link link-dark">
                Hãng xe
              </a>
            </li>
            <span class="border-bottom"></span>
            <li>
              <a asp-area="Admin" asp-controller="VehicleType" asp-action="Index" class="nav-link link-dark">
                Kiểu dáng
              </a>
            </li>
            <span class="border-bottom"></span>
            <li>
              <a asp-area="Admin" asp-controller="EngineType" asp-action="Index" class="nav-link link-dark">
                Loại động cơ
              </a>
            </li>
            <span class="border-bottom"></span>
            <li>
              <a asp-area="Admin" asp-controller="Transmission" asp-action="Index" class="nav-link link-dark">
                Loại hộp số
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="d-flex">
    <nav class="flex-column flex-shrink-0 p-3 bg-light d-none d-lg-flex sidebar-height border-end"
      style="width: 280px;">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="nav-link link-dark"
            aria-current="page">
            Dashboard
          </a>
        </li>
        <span class="border-bottom"></span>
        <li>
          <a asp-area="Admin" asp-controller="VehicleModel" asp-action="Index" class="nav-link link-dark">
            Mẫu xe
          </a>
        </li>
        <span class="border-bottom"></span>
        <li>
          <a asp-area="Admin" asp-controller="VehicleLine" asp-action="Index" class="nav-link link-dark">
            Dòng xe
          </a>
        </li>
        <span class="border-bottom"></span>
        <li>
          <a asp-area="Admin" asp-controller="Manufacturer" asp-action="Index" class="nav-link link-dark">
            Hãng xe
          </a>
        </li>
        <span class="border-bottom"></span>
        <li>
          <a asp-area="Admin" asp-controller="VehicleType" asp-action="Index" class="nav-link link-dark">
            Kiểu dáng
          </a>
        </li>
        <span class="border-bottom"></span>
        <li>
          <a asp-area="Admin" asp-controller="EngineType" asp-action="Index" class="nav-link link-dark">
            Loại động cơ
          </a>
        </li>
        <span class="border-bottom"></span>
        <li>
          <a asp-area="Admin" asp-controller="Transmission" asp-action="Index" class="nav-link link-dark">
            Loại hộp số
          </a>
        </li>
      </ul>
      <hr>
      <partial name="_LoginPartial" />
    </nav>


    <div class="flex-grow-1 d-flex flex-column sidebar-height">
      <div class="container">
        <main role=" main" class="py-3">
          @RenderBody()
        </main>
      </div>

      <footer class="footer-height mt-auto d-flex align-items-center border-top footer text-muted">
        <div class="container">
          &copy; 2024 - CarWebMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
      </footer>
    </div>
  </div>



  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  <script src="~/js/sidebars.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
