@model CarWebMVC.Models.Domain.VehicleModel

@{
    ViewData["Title"] = "Thêm mẫu xe mới";
}

<div class="w-100">
    <h1>Thêm mẫu xe mới</h1>

    <hr />
    <div class="w-100">
        <form asp-action="Create">
            <div class="row w-100 g-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-6 col-lg-4">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-md-6 col-lg-4">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="col-md-6 col-lg-4">
                    <label asp-for="VehicleLine.Name" class="control-label"></label>
                    <select asp-for="VehicleLineId" class="form-control" asp-items="ViewBag.VehicleLineSelectItems">
                        <option value="" selected disabled>Chọn dòng xe</option>
                    </select>
                    <span asp-validation-for="VehicleLineId" class="text-danger"></span>
                </div>
                <div class="col-md-6 col-lg-4">
                    <label asp-for="Transmission.Name" class="control-label"></label>
                    <select asp-for="TransmissionId" class="form-control" asp-items="ViewBag.TransmissionSelectItems">
                        <option value="" selected disabled>Chọn loại hộp số</option>
                    </select>
                    <span asp-validation-for="TransmissionId" class="text-danger"></span>
                </div>
                <div class="col-md-6 col-lg-4">
                    <label asp-for="EngineType.Name" class="control-label"></label>
                    <select asp-for="EngineTypeId" class="form-control" asp-items="ViewBag.EngineTypeSelectItems">
                        <option value="" selected disabled>Chọn loại động cơ</option>
                    </select>
                    <span asp-validation-for="EngineTypeId" class="text-danger"></span>
                </div>
                <div class="col-md-6 col-lg-4">
                    <label asp-for="Color" class="control-label"></label>
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
                <div class="col-md-6 col-lg-4">
                    <label asp-for="InteriorColor" class="control-label"></label>
                    <input asp-for="InteriorColor" class="form-control" />
                    <span asp-validation-for="InteriorColor" class="text-danger"></span>
                </div>
                <div class="col-md-6 col-lg-4">
                    <label asp-for="CountryOfOrigin" class="control-label"></label>
                    <input asp-for="CountryOfOrigin" class="form-control" />
                    <span asp-validation-for="CountryOfOrigin" class="text-danger"></span>
                </div>
                <div class="col-md-6 col-lg-4">
                    <label asp-for="Year" class="control-label"></label>
                    <input asp-for="Year" class="form-control" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
                <div class="col-md-6 col-lg-4">
                    <label asp-for="NumberOfDoors" class="control-label"></label>
                    <input asp-for="NumberOfDoors" class="form-control" />
                    <span asp-validation-for="NumberOfDoors" class="text-danger"></span>
                </div>
                <div class="col-md-6 col-lg-4">
                    <label asp-for="NumberOfSeats" class="control-label"></label>
                    <input asp-for="NumberOfSeats" class="form-control" />
                    <span asp-validation-for="NumberOfSeats" class="text-danger"></span>
                </div>
                <div class="col-md-12 col-lg-12">
                    <label class="control-label">
                        Hình ảnh
                    </label>
                    <p style="font-size: 14px; user-select: none;"><em
                            title="Ảnh được chọn sẽ được lưu vào database">Tải ảnh lên và chọn
                            ảnh</em>
                    </p>

                    <div id="ImagesPreview" class="mt-2 d-flex gap-3 flex-wrap"></div>

                    <button type="button" id="upload_widget" class="btn btn-primary btn-sm d-block my-2">Tải ảnh
                        lên</button>

                </div>


                <div class="col-md-12 d-flex justify-content-end">
                    <input type="submit" value="Thêm" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>

    <div>
        <a asp-action="Index">
            Quay lại danh sách
        </a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://upload-widget.cloudinary.com/latest/global/all.js" type="text/javascript"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', async () =>
        {
            const response = await fetch('/api/cloudinary/generate-signature');
            const data = await response.json();

            const options = {
                cloudName: data.cloudName,
                apiKey: data.apiKey,
                uploadSignatureTimestamp: data.timestamp,
                uploadSignature: data.signature,
                uploadPreset: data.uploadPreset,
            }

            const processResults = (error, result) =>
            {
                if (!error && result && result.event === 'success')
                {
                    document.getElementById("ImagesPreview").innerHTML += `
                                                    <label class="form-check-label position-relative" style="cursor: pointer;">
                                                        <input 
                                                        type="checkbox" 
                                                        class="position-absolute form-check-input mx-1" 
                                                        name="newImageUrls"
                                                        value="${result.info.secure_url}"
                                                        checked />
                                                        <img 
                                                        src="${result.info.secure_url}"                
                                                        class="border" style="max-width: 200px; max-height: 100px;" />
                                                    </label>
                                                `;

                    var str = JSON.stringify(result, null, 4);
                    document.getElementById("uwdata").innerHTML += str;
                }
            }

            const widget = window.cloudinary.createUploadWidget(
                options,
                processResults
            )

            document
                .getElementById('upload_widget')
                .addEventListener('click', () => widget.open(), false)
        });                    
    </script>
}
