@model CarWebMVC.Models.Transmission

@{
    ViewData["Title"] = "Xóa loại hộp số";
}

<div class="w-100">
    <h1>Xóa loại hộp số</h1>

    <p>Bạn có chắc chắn muốn xóa?</p>
    <div>
        <hr />
        <dl class="row w-100">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Xóa luôn" class="btn btn-danger" /> |
            <a asp-action="Index">
                Quay lại danh sách
            </a>
        </form>
    </div>
</div>